#notifs {
    position:fixed;
    bottom:0;
    right:0;
    padding:20px;
    display:block;
    animation-duration:200ms;
}

.notif {
    padding:50px;
    border-radius:10px;
    background:rgba(20,20,40,.3);
    backdrop-filter:blur(10px);
    min-width:250px;
    height:130px;
    border-right: 5px solid red;
    -webkit-backdrop-filter: blur(10px);
    display:flex;
    color:white;
    flex-direction:column;
    justify-content:center;
    animation: comein 200ms;
    transform-origin: center right
}
.notif-bottom * {margin:0}

@keyframes comein {
    from {transform:translateX(30px);opacity:0;}
}
@keyframes clearing {
    to {transform:translateX(30px);opacity:0;}
}