*{margin:0;font-family:system-ui, Roboto, sans-serif}

body {
  background: #0d0d0d;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

table {
  padding:0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  overflow:hidden;
  border-radius: 10px;
}

th {
  background: #dddddd;
  font-weight:800;
  color:black;
  padding:17px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-radius:10px;
  overflow:hidden;
}

th, td {
  text-align: left;
  padding: 10px;
  color:white;
  font-weight:300;
}td{border:1px solid #222}

tr:nth-child(even){background: #000}
tr:nth-child(odd){background: #0d0d0d}

th {
  background-color: #f2f2f2;
  color: black;
  font-weight:600;
}
