*{margin:0;font-family:system-ui, Roboto, sans-serif}

body {
  background: lightblue;
}

table {
  padding:0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  overflow:hidden;
  border-radius: 10px;
}

th {
  background: #222;
  font-weight:800;
  color:white;
  padding:10px;
}

td {
  border: 1px solid #ccc;
}
