*{margin:0;font-family:system-ui, Roboto, sans-serif}

body {
  background: #111;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

table {
  padding:0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  overflow:hidden;
  border-radius: 10px;
}

th {
  background: #dddddd;
  font-weight:800;
  color:black;
  padding:17px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-radius:10px;
  overflow:hidden;
}

th, td {
  text-align: left;
  padding: 10px;
  color:white;
  font-weight:300;
}td{border:1px solid #222}

tr:nth-child(even){background: #000}
tr:nth-child(odd){background: #0d0d0d}

th {
  background-color: rgb(50,0,200);
  color: white;
  font-weight:600;
}

.modal {
  height:fit-content;
  width:fit-content;
  padding:20px;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(8px);
  -webkit-backdrop-filter:blur(8px);
  border-radius: 15px;
  opacity:0;
  pointer-events:none;
  transform:translateY(30px);
  color:white;
  transition:0.5s;
}

.modal.open {
  opacity:1;
  pointer-events: all;
  transform:translateY(0px);
  
}

.modal-wrap {
  position:fixed;
  z-index:2;
  top:0;bottom:0;right:0;left:0;
  height:100vh;
  width:100vw;
  opacity:0;
  pointer-events:none;
  transition: 0.5s;
}
.modal-wrap.open {
  opacity:1;
  pointer-events:all;
   background:rgba(255,255,255,0.2);
  backdrop-filter:blur(2px);
}
.modal-align {
  position:fixed;
  z-index:3;
  pointer-events:none;
  top:0;bottom:0;right:0;left:0;
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
}
